@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/preparation_index.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jqtree/tree.jquery.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqtree/jqtree.css")" rel="stylesheet" />

}
<script type="text/javascript">
    $(function () {
        $('#menuHomeWork').accordion({
            heightStyle: "content",
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                if (div.attr('loaded') == "false") {
                    div.attr('loaded', 'true');
                }
            }
        });
        var index = @ViewBag.CurrentHomeworkIndex 
        $('#menuHomeWork').accordion({ active: index });
    });

    function reviewhomework(id)
    {
        var score = $("#score" + id).val();
        var commits = $("#teachercommits" + id).val();
        $.post(
          '/ReviewHomeWork/ReviewHomeWork',
          {
              id: id,
              score: score,
              commits: commits
          },
          function (data) {
              alert('提交成功');
              window.location.reload();
          }
        )
    }

    function ddl_studentschange()
    {
        var studentno = $('#ddl_students').val();
        URLRedirect(studentno);
    }

    function afterstudent()
    { 
        var checkIndex = $("#ddl_students ").get(0).selectedIndex;
        var maxIndex = $("#ddl_students option").length;
        if(checkIndex<maxIndex-1)
        {
            var studentno = $("#ddl_students ").get(0).options[checkIndex + 1].value;
            URLRedirect(studentno);
        }
        else  {
            alert('已经最后一位');
        }
    }

    function beforestudent() {
        var checkIndex = $("#ddl_students ").get(0).selectedIndex;
        if (checkIndex > 0) {
            var studentno = $("#ddl_students ").get(0).options[checkIndex - 1].value;
            URLRedirect(studentno);
        }
        else {
            alert('已经第一位');
        }
    }

    function URLRedirect(studentno)
    { 
        var teachno = '@ViewBag.TeachNo';
        var currHomeworkid = '@ViewBag.CurrentHomeworkId';
        window.location.href = "/ReviewHomeWork?TeachNo=" + teachno + "&SudentNo=" + studentno + "&CurrentHomeWorkId=" + currHomeworkid;
    }
    
</script>
<div class="center_content">
    <div>
        <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all" id="btn_beforeStu" onclick="beforestudent()" value="上一位"/>
        <select id="ddl_students" onchange="ddl_studentschange()">
            @foreach (Campus.Course.Model.Student t in ViewBag.Students)
            {
                var StuNameStr = t.Name + "(" + t.StudentNo + ")";

                if (t.StudentNo == ViewBag.CurrentStudentNo)
                { <option value ="@t.StudentNo" selected="selected">@StuNameStr</option> }
                else
                { <option value ="@t.StudentNo">@StuNameStr</option>}
                
            }
        </select>
        <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all" id="btn_afterStu" onclick="afterstudent()" value="下一位"/>
    </div>
    <div id="menuHomeWork">
        @foreach (Campus.Course.Model.Business.HomeWorkInfo t in ViewBag.HomeWorks)
        {
            var statuscn = "未交";
            var display = "display:block;";
            if (t.HomeWork.Status == Campus.Course.Utility.HomeWorkStatus.New)
            {
                display = "display:none;";
            }
            else if (t.HomeWork.Status == Campus.Course.Utility.HomeWorkStatus.Submit)
            {
                statuscn = "已交";
            }
            else if (t.HomeWork.Status == Campus.Course.Utility.HomeWorkStatus.Late)
            {
                statuscn = "晚交";
            }
            var reviwedcn = t.HomeWork.Score == null ? "未批改" : t.HomeWork.Score;
            <h3>第 @t.WeekInQGrade.Week 周 | @t.HomeWorkPush.Subject | @statuscn | @reviwedcn</h3> 
            <div id="@t.HomeWork.ID" loaded="false">
                  <ul class="form_input_area">
                      <li>
                           <div class="parameter_name"><span>作业题目</span></div>
                           <div class="parameter_input"><span>@Html.DisplayFor(model=>t.HomeWorkPush.Subject)</span></div>       
                      </li>
                      <li>
                           <div class="parameter_name"><span>作业要求</span></div>
                           <div class="parameter_input"><span>@Html.DisplayFor(model=>t.HomeWorkPush.Description)</span></div>       
                      </li>
                      <li>
                           <div style="height:100px;@display">
                 
                           </div>  
                      </li>
                      <li>
                           <div class="parameter_name"><span>作业描述</span></div>
                           <div class="parameter_input"><span>@Html.DisplayFor(model=>t.HomeWork.Commits)</span></div>
                      </li>
                      <li>
                           <div class="parameter_name" style="@display"><span>老师评语</span></div>
                            @{
                                var teachercommitsid = "teachercommits" + t.HomeWork.ID;
                                <div class="parameter_input" style="@display"><span><input type="text" id="@teachercommitsid" value="@t.HomeWork.TeacherCommits" /></span></div>   
                             }    
                      </li>
                      <li>
                           <div class="parameter_name" style="@display"><span>作业评分</span></div>
                           @{
                                var scoreid = "score" + t.HomeWork.ID;
                                <div class="parameter_input" style="@display"><span><input type="text" id="@scoreid" value="@t.HomeWork.Score" /></span></div>       
                            }
                      </li>
                      <li>
                           @{
                               var jsfunction = "reviewhomework("+t.HomeWork.ID+")";
                          <input type="button" style="@display" class="ui-button ui-widget ui-state-default ui-corner-all" value="submit" onclick="@jsfunction"/>
                           }
                      </li>
                  </ul>
            </div>
        }
    </div>
</div>