@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (ViewContext.Controller as Campus.Course.BaseController).CurrentUser;
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/calendar/xgcalendar_lang_zh_cn.js")"></script>
    <script src="@Url.Content("~/Scripts/calendar/xgcalendar.js")"></script>
@*    <script src="@Url.Content("~/Scripts/utility.js")"></script>*@
    <link href="@Url.Content("~/Content/css/lib/calendar/calendar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/timesheet_index.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/select2/select2-3.0.0.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/select2/select2-3.0.0.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
}

<script type="text/javascript">

$(function(){
	
    //option will call the function
    //so this point is calender.option
    function updateStInfo(){
        var day = this.showday.getFullYear() + '-' + (this.showday.getMonth() + 1) + '-' + this.showday.getDate();
        $.post('/TimeSheet/GetTimeSheetInfo',
            {
                SNo: '@user.UserNo',
                showdate: day
            },
            function (data) {
                for (var p in data){
                    $('#' + p).text(data[p]);
                }
            });
    }


    $('#minicalpicker').datepicker({
        autoSize: true,
        onSelect: function (val) {
            $("#xgcalendarp").BCalGoToday(new Date(val));
        }
    });

	var op = {
        view: "week", //默认视图，这里是周视图
        theme: 1, //默认的主题风格
        readonly: true,
        enableDrag:false,
        autoload:true, //是否在页面加载完毕后自动获取当前视图时间的数据
        showday: new Date(), //当前视图的显示时间
        ViewCmdhandler: function () { },    //查看的响应事件
        afterRender : updateStInfo,
        extParam: [{ name: "SNo", value: "@user.UserNo" }, { name: "CNo", value: "" }],
	    //url: "/TimeSheet/GetTimeSheetByStudent",  //url for get event data by ajax request(post)
        @(user.IsStudent ? Html.Raw("url: '/TimeSheet/GetTimeSheetByStudent',") : Html.Raw("url: '/TimeSheet/GetTimeSheetByTeacher',"))
    };
	
	op.height = 550; //container height;
	op.eventItems =[]; //default event data;
	$("#xgcalendarp").bcalendar(op);

	$('#prevbtn').click(function () {
	    $("#xgcalendarp").BCalPrev();
	    $("#minicalpicker").datepicker("setDate", $("#xgcalendarp").BcalGetOp().showday);
	});
	$('#nextbtn').click(function () {
	    $("#xgcalendarp").BCalNext();
	    $("#minicalpicker").datepicker("setDate", $("#xgcalendarp").BcalGetOp().showday);
	});
	$('#todaybtn').click(function () {
	    $("#xgcalendarp").BCalGoToday();
	    $("#minicalpicker").datepicker("setDate", $("#xgcalendarp").BcalGetOp().showday);
	});

	$('#weekbtn').click(function () {
	    $(this).parent().children().each(function () {
	        $(this).removeClass('current');
	    });
	    $(this).addClass('current');
	    $("#xgcalendarp").BCalSwtichview('week');
        
	});


	$('#monthbtn').click(function () {
	    $(this).parent().children().each(function () {
	        $(this).removeClass('current');
	    });
	    $(this).addClass('current');
	    $("#xgcalendarp").BCalSwtichview('month');
	});

	$('#classes').select2({
	    containerCssClass: "classselect"
	}).change(function () {
	    if ($(this).val() == 'my') {
	        $("#xgcalendarp").BcalGetOp().url = '/TimeSheet/GetTimeSheetByStudent';
	        $("#xgcalendarp").BcalGetOp().extParam[0].value = '20062319';

	        $("#xgcalendarp").BCalReload();
	    }
	    else {
	        $("#xgcalendarp").BcalGetOp().url = '/TimeSheet/GetTimeSheetByClass';
	        $("#xgcalendarp").BcalGetOp().extParam[1].value = $(this).val();

	        $("#xgcalendarp").BCalReload();
	    }
	});

	marqueeMove("notifypanelcontent", "notifypanelorg", "notifypanelhidden", 100);

});

</script>



<div id="toppanel" style="width:90%">
    <div class="calbtnp1">
         <button id="todaybtn" type="button" class="btn">Today</button>
        <div class="btngroup">
            <span id="prevbtn" type="button" class="btn prevbtn"><em></em></span>
            <span id="nextbtn" type="button" class="btn nextbtn"> <em></em></span>
            <div id="dateshow">
                <strong><span id="currentdate"></span></strong>
                <span id="grade"></span>
                <span id="gradeq"></span>
                <span id="currentweek"></span>
            </div>
        </div>
    </div>
           <select id="classes">
               <option value="my">我的课程表</option> 
           @foreach (var li in ViewBag.Classes)
           {
               <option value="@li.ClassNo">@li.ClassNo</option> 
           }
    </select>

    <div class="calbtnp2">

        <div id="viewswithbtn" class="btngroup">
            <button id="weekbtn" type="button" class="btn current">Week</button>
            <button id="monthbtn" type="button" class="btn">Month</button>

        </div>
    </div>
</div>
<div id="minicalpicker" style="width:20%;float:left;"></div>
<div id="xgcalendarp" style="width:70%;float:left;margin-left:2px;"></div>

@*<div class="rightpanel">

    <div id="notifypanel">
        <div class="paneltitle"><span>通知</span></div>
        <div id="notifypanelcontent" class="panelcontent">
            <div id="notifypanelorg">
                <ul>
                    <li>222222222222222222222222222222222222222222222222222222</li>
                    <li>333333333333333333333333333333333333333333333333333333</li>
                    <li>4444444444444444444444444</li>
                    <li>55555555555555555555555555555</li>
                    <li>6666666666666666666666666666666666666666</li>
                    <li>77777</li>
                    <li>8888</li>
                    <li>099999</li>
                    <li>888888</li>
                </ul>

            </div>
            <div id="notifypanelhidden"></div>
        </div>
    </div>


    <div id="shared">
        <div class="paneltitle"><span>分享</span></div>
        <div class="panelcontent">
            <ul>
                <li>222222222222222222222222222222222222222222222222222222</li>
                <li>333333333333333333333333333333333333333333333333333333</li>
            </ul>

        </div>
    </div>
</div>*@

@*<div><p>@ViewBag.aa</p>
</div>*@