@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/preparation_index.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jqtree/tree.jquery.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqtree/jqtree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/attpool/attpool.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/attpool/attpool.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/xheditor/xheditor-1.1.14-zh-cn.min.js")"></script>

    @foreach (var homework in ViewBag.HomeWorks)
    {
        @Html.Raw("<script src='/SubmitHomeWork/HomeworkMFunction?Id=" + homework.HomeWork.ID + "&r=" + DateTime.Now.Millisecond + "'></script>")
        @Html.Raw("<script src='/SubmitHomeWork/HomeworkPushMFunction?Id=" + homework.HomeWorkPush.ID + "&r=" + DateTime.Now.Millisecond + "'></script>")
    }
}
<script type="text/javascript">
    $(function () {
        $('#menuleft').accordion({
            heightStyle: "content",
            active: false,
            collapsible: true,
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                if (div.attr('loaded') == "false") {
                    $.post(
                        '/TimeSheet/GetTimesheetsByTeachNo',
                        {
                            TeachNo: div.attr('id'),
                            QGradeBegin: '@ViewBag.QGradeBegin'
                        },
                        function (data) {
                            buildtree(div, data);
                            
                        }
                    );
                }
                
            }
        });
        $('#menuHomeWork').accordion({
            heightStyle: "content",
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                if (div.attr('loaded') == "false") {
                    div.attr('loaded', 'true');
                }
            }
        });
        //Prep attachment pool
        @foreach (var homework in ViewBag.HomeWorks)
        {       
             @Html.Raw("setHomeworkM")@homework.HomeWork.ID@Html.Raw("();");
            
             @Html.Raw("setHomeworkPushM")@homework.HomeWorkPush.ID@Html.Raw("();");
        }

        var index = @ViewBag.CurrentTeachNoIndex
        $('#menuleft').accordion({ active: index });
    });

        function buildtree(div, data) {
            div.tree({
                data: data,
                autoOpen: true,
                selectable: true,
                onCanSelectNode: function (node) {
                    if (node.children.length == 0) {
                        // Nodes without children can be selected
                        return true;
                    }
                    else {
                        // Nodes with children cannot be selected
                        return false;
                    }
                },

                onCreateLi: function (node, $li) {
                    // Add 'icon' span before title
                    if (node.sheetid != undefined) {
                        if (node.sheetid == '@ViewBag.CurrentTimeSheetId') {
                            $li.addClass('jqtree-selected');
                        }
                        $li.find('.jqtree-title').after('<span class="li-date-right">' + node.date + '</span>');
                    }
                }
            }).bind('tree.select',
                 function (event) {
                     if (event.node) {
                         // node was selected
                         var node = event.node;
                         //redirect
                         window.location = '/SubmitHomeWork/Index?TeachNo=' + node.teachno + '&TimeSheetId=' + node.sheetid;
                     }
                     else {
                         return false;
                     }
                 });
            div.attr('loaded', 'true');
        }
        
        function submithomework(id) {
            var commits = $("#commits" + id).val();
            $.post(
              '/SubmitHomeWork/SubmitHomeWork',
              {
                  id: id,
                  commits: commits
              },
              function (data) {
                  alert('提交成功');
                  window.location.reload();
              }
            )
        }

</script>
<div class="left_content">
    <span>@ViewBag.Grade</span><span>@ViewBag.QGrade</span><br />
    <span>第@(ViewBag.WeekInfo.Week)周</span><span>
        @(ViewBag.WeekInfo.WeekBDay.Year)年@(ViewBag.WeekInfo.WeekBDay.Month)月@(ViewBag.WeekInfo.WeekBDay.Day)日
        -
         @(ViewBag.WeekInfo.WeekEDay.Year)年@(ViewBag.WeekInfo.WeekEDay.Month)月@(ViewBag.WeekInfo.WeekEDay.Day)日</span>
    <div id="menuleft">
        @foreach (var t in ViewBag.TeachInfoes)
        {
            <h3>@t.Course.Name</h3> 
            <div id="@t.Teach.TeachNo" loaded="false"></div>
        }
    </div>
</div>
<div class="right_content" id="PartialContent">
<div id="menuHomeWork">
   @foreach (Campus.Course.Model.Business.HomeWorkInfo t in ViewBag.HomeWorks)
   {
       var statuscn = "未交";
       if (t.HomeWork.Status == Campus.Course.Utility.HomeWorkStatus.Submit)
       {
           statuscn = "已交";
       }
       else if (t.HomeWork.Status == Campus.Course.Utility.HomeWorkStatus.Late)
       {
           statuscn = "晚交";
       }
       var reviwedcn = t.HomeWork.Score == null ? "未批改" : t.HomeWork.Score;
            <h3>第 @t.WeekInQGrade.Week 周 | @t.HomeWorkPush.Subject | @statuscn | @reviwedcn</h3> 
            <div id="@t.HomeWork.ID" loaded="false">
                  <table class="tableshow">
                      <tr>
                           <td class="title">作业题目：</td>
                           <td class="datail">@Html.DisplayFor(model => t.HomeWorkPush.Subject)</td>       
                      </tr>
                      <tr>
                           <td class="title">作业要求：</td>
                           <td class="datail">@Html.Raw(t.HomeWorkPush.Description)</td>       
                      </tr>
                      <tr>
                          <td class="title">作业素材：</td>
                          <td class="datail">
                              @{
                                 var HomeworkPushMeteiral = "HomeworkPushMeteiral" + t.HomeWorkPush.ID;
                                <div id="@HomeworkPushMeteiral" class="Meteiral"></div>
                              }
                          </td>
                       </tr>
                       <tr>
                           <td class="title">上传作业：</td>
                           <td class="datail">
                              @{
                                var HomeworkMeteiral = "HomeworkMeteiral" + t.HomeWork.ID;
                                <div id="@HomeworkMeteiral" class="Meteiral"></div>
                               }
                           </td> 
                      </tr>
                      <tr>
                           <td class="title">作业描述：</td> 
                           <td><div>
                               @{
                                var commits = "commits" + t.HomeWork.ID;
                               <textarea id="@commits" class="xheditor-mini {}" style="width:100%;height:200px">@t.HomeWork.Commits</textarea>
                                }
                               </div>
                           </td>  
                      </tr>

                      <tr>
                          <td colspan="2">
                           @{
                               var jsfunction = "submithomework(" + t.HomeWork.ID + ")";
                               <input type="button" value="保存" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="@jsfunction"/>
                           }
                           </td> 
                      </tr>
                  </table>
            </div>
   }
</div>
</div>