@using Campus.Course.Model.Business;
@{
    List<HomeWorkExtend> list = ViewData["HomeWorkExtend"] as List<HomeWorkExtend>;
}
<div  class="form_content">
    <ul class="form_options">
         @foreach (var t in list)
         {
              <li data-form-target="homework_1" >@t.HomeWorkPush.Subject</li>
         }
    </ul>
     @foreach (var t in list)
     {
     <div class="form_main_content" id="homework_1">
         <div class="content_border">
              <div class="content_title">
                    <span>基础信息</span>
               </div>
              <ul class="form_input_area">
                  <li>
                       <div class="parameter_name"><span>作业题目</span></div>
                       <div class="parameter_input"><span>@t.HomeWorkPush.Subject</span></div>       
                  </li>
                  <li>
                       <div class="parameter_name"><span>作业要求</span></div>
                       <div class="parameter_input"><span>@t.HomeWorkPush.Description</span></div>       
                  </li>
              </ul>
          </div>
          <div>
              <span>按时交作业35/37 迟交作业1/37 未交作业1/37</span>
          </div>
          <div class="content_border">
               <div class="content_title">
                    <span>学生作业</span>
               </div>
              <div>
                   <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table_form"
                            id="newest_vacation_my">
                       <tr>
                           <td>学号</td>
                           <td>姓名</td>
                           <td>作业名</td>
                           <td>提交日期</td>
                           <td>状态</td>
                           <td>作业评分</td>
                       </tr>
                        @foreach (var l in t.HomeWorkList)
                        {
                           <tr>
                               <td>@l.StudentNo</td>
                               <td>@l.StudentNo</td>
                               <td>@t.HomeWorkPush.Subject</td>
                               <td>@l.SubmitDate</td>
                               <td>@l.Status</td>
                               <td>@l.Score</td>
                           </tr>
                        }
                     </table>
              </div>
          </div>
     </div>
     }
</div>
         
              

       