@{
    Campus.Course.Model.Business.V_CurrentUser CurrentUser = ViewBag.CurrentUser;
    var studentdisplay = CurrentUser.IsStudent ? "display:block;" : "display:none;";
    var teacherdisplay = CurrentUser.IsStudent ? "display:none;" : "display:block;";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/global.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    @RenderSection("ScriptAndCss")
</head>

<body>
    <div class="header-wrapper">
        <div class="header margin_1140_center">
            <div class="logo logo_left">
                <img src="/content/images/logo_hr.png" class="fl">
            </div>
            <div class="logo">
                <div class="headerInfo_Top">
                    欢迎 &nbsp; @CurrentUser.Name &nbsp; @(CurrentUser.IsStudent ? CurrentUser.Student.Class.Specialty + " " + CurrentUser.Student.Class.Institute : "")
                </div>
                <img src="/content/images/topbg_right.png" class="fr">
                <div class="headerInfo_Boottom">
                      <span ><a href="" class="active">首页</a></span>
                      <span ><a href="">关于学院</a></span>
                      <span ><a href="">教学活动</a></span>
                      <span ><a href="">资源中心</a></span>
                      <span ><a href="">我的空间</a></span>
                 </div>
            </div>
   
        </div>
    </div>
    <div class="menuBar">
        <ul class="mainMenu margin_1140_center">
            <li class="normal @(ViewContext.RouteData.Values["controller"].ToString() == "TimeSheet" ? "active" : "")">
                <a href='@Url.Action("Index","TimeSheet")'><span>课程信息</span></a>
            </li>
            <li style="@teacherdisplay" class="normal @(ViewContext.RouteData.Values["controller"].ToString() == "Preparation" ? "active" : "")">
                <a href='@Url.Action("Index","Preparation")'><span>备课</span></a>
            </li>
            <li style="@teacherdisplay" class="normal @(ViewContext.RouteData.Values["controller"].ToString() == "CollectHomeWork" || ViewContext.RouteData.Values["controller"].ToString() == "ReviewHomeWork" ? "active" : "")">
                <a href='@Url.Action("Index","CollectHomeWork")'><span>作业</span></a>
            </li>
            <li style="@studentdisplay" class="normal @(ViewContext.RouteData.Values["controller"].ToString() == "SubmitHomeWork" ? "active" : "")">
                <a href='@Url.Action("Index","SubmitHomeWork")'><span>作业</span></a>
            </li>
            <li class="normal">
                <a href=''><span>考试</span></a>
            </li>
            <li class="normal">
                <a href=''><span>项目</span></a>
            </li>
            <li class="normal">
                <a href=''><span>查看更多</span></a>
            </li>
        </ul>
    </div>
    <div class="margin_1140_center mainContent">
        @RenderBody()
    </div>
    
</body>
</html>
