@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/preparation_index.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jqtree/tree.jquery.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqtree/jqtree.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/underscore/underscore.js")"></script>

    <script src="@Url.Content("~/Scripts/attpool/attpool.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/attpool/attpool.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/xheditor/xheditor-1.1.14-zh-cn.min.js")"></script>

}


<script type="text/javascript">

    function buildtree(div,data,editor)
    {
        div.tree('destroy');
        div.tree({
            data: data,
            autoOpen: true,
            selectable: true,
            onCanSelectNode: function (node) {
                if (node.children.length == 0) {
                    // Nodes without children can be selected
                    return true;
                }
                else {
                    // Nodes with children cannot be selected
                    return false;
                }
            },

            onCreateLi: function (node, $li) {
                // Add date span after title
                if (node.sheetid != undefined) {
                    $li.find('.jqtree-title').after('<span class="li-date-right">' + node.date + '</span>');
                }
            }
        }).bind('tree.select',
                function (event) {
                    if (event.node) {
                        // node was selected
                        var node = event.node;
                        $.post(
                            '/Preparation/GetPreparation',
                            {
                                prepId: node.prepid,
                                sheetid: node.sheetid
                            },
                            function (data) {
                                bindPrep(data, editor);
                            });//post /Preparation/GetPreparation

                       $.post(
                            '/Preparation/GetHomworkPush',
                            {
                                TimeSheetId: node.sheetid
                            },
                            function (data) {
                                bindHomework(data);
                            });//post /Preparation/GetPreparation

                    }

                }); //tree.select
        div.attr('loaded', 'true');
    }

    function bindPrep(data)
    {
        if (data.id == undefined) {
            $('#name').val('');
            $('#prepId').val('');
            //$('#content').text('');
            if(editor != undefined)
                editor.setSource('');
            $('#PrepMeteiral').html('');
        }
        else {
            $('#name').val(data.name);
            //$('#content').text(data.content);
            if (editor != undefined)
                editor.setSource(data.content);
            $('#prepId').val(data.id);
   

            if (data.m != undefined) {
                bindPrepMets(data);
            }
        }
        $('#sheetid').val(data.sheetid);
        if (data.error != undefined) {
            alert(data.error);
        }
    }

    function bindPrepMets(data)
    {
        var option = {
            data: data.m,
            uploadurl: '/File/UploadPrepM?PrepId=' + data.id,
            refreshurl: '/Preparation/GetPrepMateiral?PrepId=' + data.id,
            autorefresh:true,
            startupload: '开始上传',
            continueupload: '继续上传',
            onPreview: function (id) {
                alert('preview' + id);
            },
            onDelete: function (id) {
                if (confirm("确定删除?")) {
                    $.ajaxSetup({
                        async: false
                    });
                    $.post('/File/DeletePrepM', { mId: id }, function (data) {
                        if (data.error) {
                            alert(data.error);
                        }
                    });
                    $.ajaxSetup({
                        async: true
                    });
                    return true;
                }
                else {
                    return false;
                }
            },
            onDownload: function (id) {
                window.open('/File/DownloadPrepM?mId=' + id);
            },
            onCompeleted: function () {

            },
            onSuccessed: function (data, status) {
                if (typeof (data.error) != 'undefined') {
                    if (data.error == null || data.error == '') {
                        alert('上传成功');
                    }
                    else {
                        alert(data.error);
                    }
                }
            },
            onError: function (data, status, e) {
                alert(e);
            }
        };
        $('#PrepMeteiral').attpool(option);
    }

    function bindHomework(data)
    {
        $li = _.template($('#homework-li-template').html());
        $div = _.template($('#homework-content-template').html());

        
        var html = [];
        html.push('<ul>');
        _.each(data, function (e) {
            html.push($li(e));
        });
        html.push('</ul>');
        _.each(data, function (e) {
            html.push($div(e));
        });

        //$("#homework_tabs").tabs("destroy");

        $("#homework_tabs").html(html.join(''));

        $("#homework_tabs").tabs("refresh").tabs("option", { active: 0 });
    }

    function savehomework(btn)
    {
        var pdiv = $(btn).parents('div.ui-tabs-panel');
        var tabid = pdiv.attr('id');//tabs-2
        var o = {
            TeachTimeSheetId: $('input#sheetid').val(),
            TeachNo: $('input#teachno').val(),
        };
        if (tabid != undefined || tabid.length < 6) {
            $.extend(o, { ID: tabid.substring(5) });
        }
        $.extend(o, { Subject: pdiv.find('input[name="subject"]').val() });
        $.extend(o, { Description: pdiv.find('input[name="description"]').val() });
        $.extend(o, { DeadLine: pdiv.find('input[name="deadline"]').val() });

        $.post('/Preparation/SaveHomeworkPush', o, function (data) {
            alert(data);
        });
    }

    //populate time sheet by teachno id
    function populatesheets(div,id,editor)
    {
        $.post(
            '/TimeSheet/GetTimesheetsByTeachNo',
            {
                TeachNo: id,
                QGradeBegin: '@ViewBag.QGradeBegin'
            },
            function (data) {
                buildtree(div, data, editor);
            }
        );//post /TimeSheet/GetTimesheetsByTeachNo
    }

    $(function () {

        //保存
        $("input#save_prep")
          .button()
          .click(function (event) {
              event.preventDefault();
              var id = $('#prepId').val();
              $.post('/Preparation/SavePreparation',
                  {
                      ID: id == undefined ? 0 : id,
                      TeachTimeSheetId: $('#sheetid').val(),
                      PrepName: $('#name').val(),
                      PrepContent: editor.getSource()
                  },
                  function (data) {
                      bindPrep(data, editor);
                      if (data.error == undefined) {
                          alert('保存成功');
                      }
                      var teachno = $('#teachno').val();
                      $.post(
                        '/TimeSheet/GetTimesheetsByTeachNo',
                        {
                            TeachNo: teachno,
                            QGradeBegin: '@ViewBag.QGradeBegin'
                        },
                         function (data) {
                             buildtree($('#' + teachno), data);
                      });
              });
        });

        //左菜单
        $('#menuleft').accordion({
            heightStyle: "content",
            collapsible: true,//default noactive
            active:false,//default noactive
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                if (div.attr('loaded') == "false"){
                    populatesheets(div,div.attr('teachno'),editor);
                }
                $('#teachno').val(div.attr('teachno'));
            }//accordion beforeActive
        });

        // 作业tab
        $("#homework_tabs").tabs();

        //添加作业
        $('#add_homework_tab')
            .button()
            .click(function (event) {
                event.preventDefault();
                $li = _.template($('#homework-li-template').html());
                $div = _.template($('#homework-content-template').html());
                var tabs = $("#homework_tabs");
                var o = {id:'',sheetid:'',subject:'新建作业',description:'',deadline:'',pushdate:''};
                $("#homework_tabs").find(".ui-tabs-nav").append($li(o));
                $("#homework_tabs").append($div(o));
                tabs.tabs("refresh");
            });

        editor = $('#content').xheditor({ tools: 'mini', height: '150px;' });

    });

</script>

<div class="left_content">
    <span>@ViewBag.Grade</span><span>@ViewBag.QGrade</span><br />
    <span>第@(ViewBag.WeekInfo.Week)周</span><span>
        @(ViewBag.WeekInfo.WeekBDay.Year)年@(ViewBag.WeekInfo.WeekBDay.Month)月@(ViewBag.WeekInfo.WeekBDay.Day)日
        -
         @(ViewBag.WeekInfo.WeekEDay.Year)年@(ViewBag.WeekInfo.WeekEDay.Month)月@(ViewBag.WeekInfo.WeekEDay.Day)日</span>
    <div id="menuleft">
        @foreach (var t in ViewBag.TeachInfoes)
        {
            <h3>@t.Course.Name</h3> 
            <div id="@t.Teach.TeachNo" teachno="@t.Teach.TeachNo" loaded="false"></div>
        }
    </div>
</div>
<div class="right_content">

    <h2>备课</h2>
    <table style="width:100%">
        <tr><td><input type="button" value="保存" id="save_prep"/></td></tr>
        <tr><td><label>授课内容</label></td>
            <td>
            <input type="text" id="name" />

            <input type="hidden" id="prepId" />
            <input type="hidden" id="sheetid" />
            <input type="hidden" id="teachno" />

            </td></tr>
        <tr><td><label>授课详情</label></td><td> 
            <textarea id="content" style="width:100%"></textarea></td></tr>
        <tr><td><label>备课素材</label>
            </td><td>
    <div id="PrepMeteiral">

    </div>
            </td></tr>
    </table>

    <h2>布置作业</h2>
    <input type="button" id="add_homework_tab" value="添加作业"/>
    <div id="homework_tabs">

    </div>

</div>

<script type="text/template" id="homework-li-template" style="display:none;">

    <li id="li<%= id %>"><a href="#tabs-<%= id %>"><%= subject %></a> 
                @*<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>*@
    </li>
</script>

<script type="text/template" id="homework-content-template" style="display:none;">
       <div id="tabs-<%= id %>">
        <table>
            <tr><td><label>作业名</label></td><td>
        <input type="text" name="subject" value="<%= subject %>"/></td></tr>
            <tr><td><label>作业描述</label></td><td>
        <input type="text" name="description" value="<%= description %>"/></td></tr>
            <tr><td><label>考评标准</label></td><td>
        <select name="evaluation"><option>A\B\C</option></select></td></tr>
            <tr><td>素材上传</td><td>
                <table>
                </table></td></tr>
            <tr><td><label>作业发送给</label></td><td>
                <input type="radio" value="all" checked />所有授课学生
                                                </td></tr>
            <tr><td><label>作业截止时间</label></td><td>
                <input type="text" name="deadline" value="<%= deadline %>" />
                                                </td></tr>
        </table>
    <input type="button" value="保存" onclick="savehomework(this);"/>
    </div>
</script>