@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/preparation_index.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jqtree/tree.jquery.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqtree/jqtree.css")" rel="stylesheet" />

}


<script type="text/javascript">

    function buildtree(div,data)
    {
        div.tree('destroy');
        div.tree({
            data: data,
            autoOpen: true,
            selectable: true,
            onCanSelectNode: function (node) {
                if (node.children.length == 0) {
                    // Nodes without children can be selected
                    return true;
                }
                else {
                    // Nodes with children cannot be selected
                    return false;
                }
            },

            onCreateLi: function (node, $li) {
                // Add date span after title
                if (node.sheetid != undefined) {
                    $li.find('.jqtree-title').after('<span class="li-date-right">' + node.date + '</span>');
                }
            }
        }).bind('tree.select',
                function (event) {
                    if (event.node) {
                        // node was selected
                        var node = event.node;
                        $.post(
                            '/Preparation/GetPreparation',
                            {
                                prepId: node.prepid,
                                sheetid: node.sheetid
                            },
                            function (data) {
                                bindPrep(data);
                            });//post /Preparation/GetPreparation
                    }
                    else {
                        //return false;
                    }
                }); //tree.select
        div.attr('loaded', 'true');
    }

    function bindPrep(data)
    {
        if (data.id == undefined) {
            $('#name').val('');
            $('#prepId').val('');
            $('#content').text('');
            $('#PrepMeteiral').html('');
        }
        else {
            $('#name').val(data.name);
            $('#content').text(data.content);
            $('#prepId').val(data.id);
            if (data.m != undefined) {
                var mts_html = [];
                $.each(data.m, function (a, b) {
                    mts_html.push('<tr><td>' + b.name + '</td></tr>');
                });
                $('#PrepMeteiral').html(mts_html.join(''));
            }
        }
        $('#sheetid').val(data.sheetid);
        if (data.error != undefined) {
            alert(data.error);
        }
    }

    $(function () {

        //保存
        $("input#save_prep")
          .button()
          .click(function (event) {
              event.preventDefault();
              var id = $('#prepId').val();
              $.post('/Preparation/SavePreparation',
                  {
                      ID: id == undefined ? 0 : id,
                      TeachTimeSheetId: $('#sheetid').val(),
                      PrepName: $('#name').val(),
                      PrepContent: $('#content').text()
                  },
                  function (data) {
                      bindPrep(data);
                      if (data.error == undefined) {
                          alert('保存成功');
                      }
                      var teachno = $('#teachno').val();
                      $.post(
                        '/TimeSheet/GetTimesheetsByTeachNo',
                        {
                            TeachNo: teachno,
                            QGradeBegin: '@ViewBag.QGradeBegin'
                        },
                         function (data) {
                             buildtree($('#' + teachno), data);
                      });
              });
        });

        //左菜单
        $('#menuleft').accordion({
            heightStyle: "content",
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                if (div.attr('loaded') == "false")
                {
                    $.post(
                        '/TimeSheet/GetTimesheetsByTeachNo',
                        {
                            TeachNo: div.attr('id'),
                            QGradeBegin: '@ViewBag.QGradeBegin'
                        },
                        function (data) {
                            buildtree(div, data);
                        }
                    );//post /TimeSheet/GetTimesheetsByTeachNo
                }
                $('#teachno').val(div.attr('id'));
            }//accordion beforeActive
        });

        // 作业tab
        var tabs = $("#homework_tabs").tabs();
        tabs.delegate("span.ui-icon-close", "click", function () {
            var panelId = $(this).closest("li").remove().attr("aria-controls");
            //$("#" + panelId).remove();
            tabs.tabs("refresh");
        });

        var tabTemplate =
            "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>";

        //添加作业
        $('#add_homework_tab')
            .button()
            .click(function (event) {
                event.preventDefault();
                li = $(tabTemplate.replace(/#\{href\}/g, "#" + 1).replace(/#\{label\}/g, "未命名作业")),
                tabs.find(".ui-tabs-nav").append(li);
                tabs.append("<div></div>");
                tabs.tabs("refresh");
            });

        $('.datepicker').datepicker();
    });

</script>

<div class="leftregion">
    <span>@ViewBag.Grade</span><span>@ViewBag.QGrade</span><br />
    <span>第@(ViewBag.WeekInfo.Week)周</span><span>
        @(ViewBag.WeekInfo.WeekBDay.Year)年@(ViewBag.WeekInfo.WeekBDay.Month)月@(ViewBag.WeekInfo.WeekBDay.Day)日
        -
         @(ViewBag.WeekInfo.WeekEDay.Year)年@(ViewBag.WeekInfo.WeekEDay.Month)月@(ViewBag.WeekInfo.WeekEDay.Day)日</span>
    <div id="menuleft">
        @foreach (var t in ViewBag.TeachInfoes)
        {
            <h3>@t.Course.Name</h3> 
            <div id="@t.Teach.TeachNo" loaded="false"></div>
        }
    </div>
</div>
<div class="right-content">

    <h2>备课</h2>
    <table>
        <tr><td><input type="button" value="保存" id="save_prep"/></td></tr>
        <tr><td><label>授课内容</label>
            <input type="text" id="name" />

            <input type="hidden" id="prepId" />
            <input type="hidden" id="sheetid" />
            <input type="hidden" id="teachno" />

            </td></tr>
        <tr><td> <textarea id="content"></textarea></td></tr>
        <tr><td>
    <table id="PrepMeteiral">

    </table>
            </td></tr>
    </table>

    <h2>布置作业</h2>
    <input type="button" id="add_homework_tab" value="添加作业"/>
    <div id="homework_tabs">
        <ul>
            <li><a href="#">作业1</a> 
                @*<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>*@

            </li>
        </ul>

        <div id="homework_1">
            <table>
                <tr><td><label>作业名</label></td><td>
            <input type="text" class="homeworkname" /></td></tr>
                <tr><td><label>作业描述</label></td><td>
            <input type="text" class="homeworkdescription" /></td></tr>
                <tr><td><label>考评标准</label></td><td>
            <select class="homeworkdescription"><option>A\B\C</option></select></td></tr>
                <tr><td>素材上传</td><td>
                    <table>

                    </table>
                                 </td></tr>

                <tr><td><label>作业发送给</label></td><td>
                    <input type="radio" value="所有授课学生" />所有授课学生
                                                 </td></tr>
                <tr><td><label>作业截止时间</label></td><td>
                    <input type="text" class="datepicker" />
                                                 </td></tr>
            </table>
        </div>
    </div>

</div>