@model Campus.Course.PreparationDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptAndCss{
    <script src="@Url.Content("~/Scripts/jqui/jquery-ui-1.10.3.datepicker.min.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqui/jquery-ui-1.10.3.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/preparation_index.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jqtree/tree.jquery.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/jqtree/jqtree.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/underscore/underscore.js")"></script>

    <script src="@Url.Content("~/Scripts/attpool/attpool.js")"></script>
    <link href="@Url.Content("~/Content/css/lib/attpool/attpool.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/xheditor/xheditor-1.1.14-zh-cn.min.js")"></script>

    @foreach (var homework in Model.HomeworkPushes)
    {
        @Html.Raw("<script src='/Preparation/HomeworkMFunction?Id=" + homework.HomeworkId.ToString() + "&r=" + DateTime.Now.Millisecond + "'></script>")
    }
}


<script type="text/javascript">

    function buildtree(div,data)
    {
        div.tree('destroy');
        div.tree({
            data: data,
            autoOpen: true,
            selectable: true,
            onCanSelectNode: function (node) {
                if (node.children.length == 0) {
                    // Nodes without children can be selected
                    return true;
                }
                else {
                    // Nodes with children cannot be selected
                    return false;
                }
            },

            onCreateLi: function (node, $li) {
                // Add date span after title
                if (node.sheetid != undefined) {
                    if(node.sheetid == '@Model.SheetId'){
                        $li.addClass('jqtree-selected');
                    }
                    $li.find('.jqtree-title').after('<span class="li-date-right">' + node.date + '</span>');
                }
            }
        }).bind('tree.select',
                function (event) {
                    if (event.node) {
                        // node was selected
                        var node = event.node;
                        //redirect
                        window.location = '/Preparation/Index?teachno=' + node.teachno + 
                            '&sheetid=' + node.sheetid + 
                            '&prepid=' + node.prepid;
                    }

                }); //tree.select
        div.attr('loaded', 'true');
    }
    //populate time sheet by teachno id
    function populatesheets(div,id)
    {
        $.post(
            '/TimeSheet/GetTimesheetsByTeachNo',
            {
                TeachNo: id,
                QGradeBegin: '@ViewBag.QGradeBegin'
            },
            function (data) {
                buildtree(div, data);
            }
        );//post /TimeSheet/GetTimesheetsByTeachNo
    }

    $(function () {

        //左菜单
        $('#menuleft').accordion({
            heightStyle: "content",
            collapsible: true,//default noactive
            active: false,//default noactive
            beforeActivate: function (event, ui) {
                var div = ui.newPanel;
                $('#teachno').val(div.attr('teachno'));
                if (div.attr('loaded') == "false") {
                    populatesheets(div, div.attr('teachno'));
                }

            }//accordion beforeActive
        });

        @if (Model.TeachNo != null && ViewBag.AcitveIndex != null)
        {
            @Html.Raw("$('#menuleft').accordion({ active: ");@ViewBag.AcitveIndex@Html.Raw(" });");
        }

        editor = $('#PreparationContent').xheditor({ tools: 'mini', height: '150px;' });

        //Prep attachment pool
        var option = {
            //data: data.m,
            uploadurl: '/File/UploadPrepM?PrepId=' + '@Model.PreparationId',
            refreshurl: '/Preparation/GetPrepMateiral?PrepId=' + '@Model.PreparationId',
            uniqueId:'@(Guid.NewGuid().ToString())',
            autorefresh: true,
            onPreview: function (row) {
                alert('preview' + row.id);
            },
            onBeforeRemove: function (r, param) {
                if (confirm("确定删除?")) {
                    param.mId = r.id;
                    return true;
                }
                else {
                    return false;
                }
            },
            onSuccessed: function (data, status) {
                if (typeof (data.error) != 'undefined') {
                    if (data.error == null || data.error == '') {
                        alert('上传成功');
                    }
                    else {
                        alert(data.error);
                    }
                }
            },
            onError: function (data, status, e) {
                alert(e);
            }
        };
        $('#PrepMeteiral').attpool(option);

        // 作业tab
        $("#homework_tabs").tabs();

        $(".datetimepicker").datepicker();
        $(".ui-button").button();

        //新作业的流水号
        newtabId = 1;

        @foreach (var homework in Model.HomeworkPushes)
        {
            @Html.Raw("setHomeworkM")@homework.HomeworkId@Html.Raw("();")
        }

        //添加作业
        $('#add_homework_tab')
            .button()
            .click(function (event) {
                event.preventDefault();
                $li = _.template($('#homework-li-template').html());
                $div = _.template($('#homework-content-template').html());
                var tabs = $("#homework_tabs");
                var o = { id: newtabId, subject: '新建作业' };
                newtabId++;
                $("#homework_tabs").find(".ui-tabs-nav").append($li(o));
                $("#homework_tabs").append($div(o));
                tabs.tabs("refresh");
                $(".datetimepicker").datepicker();
                $(".ui-button").button();
                $(".xheditor-dymanic").xheditor({ tools: 'mini', height: '200px;' });
            });

        

    });

</script>

<div class="left_content">
    <span>@ViewBag.Grade</span><span>@ViewBag.QGrade</span><br />
    <span>第@(ViewBag.WeekInfo.Week)周</span><span>
        @(ViewBag.WeekInfo.WeekBDay.Year)年@(ViewBag.WeekInfo.WeekBDay.Month)月@(ViewBag.WeekInfo.WeekBDay.Day)日
        -
         @(ViewBag.WeekInfo.WeekEDay.Year)年@(ViewBag.WeekInfo.WeekEDay.Month)月@(ViewBag.WeekInfo.WeekEDay.Day)日</span>
    <div id="menuleft">
        @foreach (var t in ViewBag.TeachInfoes)
        {
            <h3>@t.Course.Name</h3> 
            <div id="@t.Teach.TeachNo" teachno="@t.Teach.TeachNo" loaded="false"></div>
        }
    </div>
</div>
<div class="right_content">

    <h2>备课</h2>
    <form method="post">
    <table style="width:100%">
        <tr><td><input class="ui-button" type="submit" value="保存"/></td></tr>
        
        <tr><td><label>授课内容</label></td>
            <td>
            <input type="hidden" id="PreparationId" name="PreparationId" value="@Model.PreparationId" />
            <input type="hidden" id="TeachNo" name="TeachNo" value="@Model.TeachNo" />
            <input type="hidden" id="SheetId" name="SheetId" value="@Model.SheetId" />
            <input type="text" id="PreparationName" name="PreparationName" value="@Model.PreparationName" />
            </td></tr>
        <tr><td><label>授课详情</label></td><td>
            <textarea id="PreparationContent" name="PreparationContent" style="width:100%">@Html.Raw(Model.PreparationContent)</textarea></td></tr>
    </table
        ></form>

    <table>
        <tr><td><label>备课素材</label></td><td> <div id="PrepMeteiral"></div></td></tr>
    </table>

    <h2>布置作业</h2>
    <input type="button" id="add_homework_tab" value="添加作业"/>
    <div id="homework_tabs">
        <ul>
            @foreach (var homework in Model.HomeworkPushes)
            {
                 <li><a href="#tab-(@homework.HomeworkId)">@homework.Subject</a></li>
            }
        </ul>
        @foreach (var homework in Model.HomeworkPushes)
        {
            <form method="post" action="/Preparation/SaveHomeworkPush">
            <div id="tab-(@homework.HomeworkId)">
                <table>
                    <tr>
                        <td>
                            <label>作业名</label></td>
                        <td>
                            <input type="hidden" name="PreparationId" value="@Model.PreparationId" />
                            <input type="hidden" name="TeachNo" value="@Model.TeachNo" />
                            <input type="hidden" name="HomeworkId" value="@homework.HomeworkId" />
                            <input type="hidden" name="SheetId" value="@Model.SheetId" />
                            <input type="text" name="Subject" value="@homework.Subject" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业描述</label></td>
                        <td>
                            <textarea name="Description" class="xheditor-mini {}" style="width:100%;height:200px;">@Html.Raw(homework.Description)</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>考评标准</label></td>
                        <td>
                            <select name="Evaluation">
                                <option>A\B\C</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>素材上传</td>
                        <td>
                            <div id="HomeworkMeteiral@(homework.HomeworkId)"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业发送给</label></td>
                        <td>
                            <input type="radio" value="all" checked />所有授课学生
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业截止时间</label></td>
                        <td>
                            <input type="text" class="datetimepicker" name="DeadLine" value="@homework.DeadLine" />
                        </td>
                    </tr>

                </table>
                <input type="submit" class="ui-button" value="保存"/>
            </div> 
                </form>
        }
    </div>

</div>

<script type="text/template" id="homework-li-template" style="display:none;">

    <li><a href="#newtab-<%= id %>"><%= subject %></a> 
                @*<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>*@
    </li>
</script>

<script type="text/template" id="homework-content-template" style="display:none;">


    <form method="post" action="/Preparation/SaveHomeworkPush">
            <div id="newtab-<%= id %>">
                <table>
                    <tr>
                        <td>
                            <label>作业名</label></td>
                        <td>
                            <input type="hidden" name="PreparationId" value="@Model.PreparationId" />
                            <input type="hidden" name="TeachNo" value="@Model.TeachNo" />
                            <input type="hidden" name="HomeworkId" value="" />
                            <input type="hidden" name="SheetId" value="@Model.SheetId" />
                            <input type="text" name="Subject" value="<%= subject %>" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业描述</label></td>
                        <td>
                            <textarea name="Description" class="xheditor-dymanic" style="width:100%;height:200px;"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <label>考评标准</label></td>
                        <td>
                            <select name="Evaluation">
                                <option>A\B\C</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>素材上传</td>
                        <td>先保存后上传
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业发送给</label></td>
                        <td>
                            <input type="radio" value="all" checked />所有授课学生
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>作业截止时间</label></td>
                        <td>
                            <input type="text" class="datetimepicker" name="DeadLine" value="" />
                        </td>
                    </tr>

                </table>
                <input type="submit" class="ui-button" value="保存"/>
            </div> 
                </form>
    </div>
</script>